<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>paolumu best</title>

        <meta property="og:title" content="The Home of the one-and-only Paolumutaur!"/>
        <meta property="og:description" content="Various info about Maya!"/>
        <meta property="og:url" content="https://lumu.info"/>
        <meta property="theme-color" content="#e3a0b5"/>
        <meta property="og:image" content="https://lumu.info/images/embed.png"/>
        <meta property="og:image:width" content="640"/>
        <meta property="og:image:height" content="523"/>
        <meta property="og:site_name" content="lumu.info"/>

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='assets/site.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Tomorrow:ital@0;1&display=swap" rel="stylesheet">

        <script src='/assets/main.js'></script>
    </head>
  <body class="open-sans-regular">
    {{ content }}
  </body>
</html>